body{
  margin: 0 ;
  padding: 0;
}

.err{
  display: flex;
  flex-direction: column;
}

.header{
  background-color:#1F2937;
  display: flex;
  
  font-family: 'Roboto';
  justify-content: space-between;
  outline:auto;
  padding: auto;

}

.logo{
font-size: 24px;
color:#f9faf8
}

.hlinks{
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
  font-size: 18px;
  
}

ul{
  display: flex;
  text-decoration: none;
  color: white;
  list-style: none;
  gap: 30px;
}

.neck{
  background-color:#1F2937;
  display: flex;
  flex-direction: column;
}

.Ncontent{
  display:flex;
  flex-direction: column;
  outline: auto;
  
 
}

.breast1{
  display: flex;
  justify-content: center;
  
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;

}

.breast{
  display: flex;
  outline: auto;
  
  
}

.breast2{
  outline: auto;
  display: flex;margin: 0%;
 padding: 300px;
 gap: 20px;
 
  
}

.Torso{
  outline: auto;
  display: flex;
}

.legs{
  display: flex;

}

.footer{
  display: flex;
  outline:auto;
  justify-content: center;
  align-items: center;
  margin-top: 100vh;
  background-color: #1F2937;
  padding: 20px;
  color: white;
  margin-bottom: 0%;
}


.ecoli{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1 ;
  box-sizing: border-box;
}